.about-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  
}

.about-brief {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-brief h1 {
  margin-top: 0;
  color: #333;
}

.about-brief p {
  color: #666;
  font-size: 1.2em;
  line-height: 1.6;
}

.about-board {
  margin-top: 40px;
}

.about-board h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.board-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.board-member {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  max-width: 200px;
  cursor: pointer;
}

.board-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.board-member h3 {
  margin: 10px 0;
  color: #333;
}

.board-member p {
  color: #666;
}


